.pagination {
   display: flex;
   padding-left: 0;
   list-style: none;
   border-radius: .25rem;
   &__item {
      margin-top: .5rem;
      margin-bottom: .5rem;
      &.active {
         a{
            background: rgba(204, 208, 218, 0.73);
         }
      }
   }
   &__link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
      text-decoration: none;
   }
}