nav {
    display: block;
    .breadcrumb {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: .25rem;
        &__item {
            &.active{
                color: #6c757d;
            }
            &:after{
                content: "/";
                position: relative;
                margin: 0 10px;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }    
        a {
            color: #007bff;
            text-decoration: none;
            background-color: transparent;
        }
    }    
}